body {
    font-family: "Nova Mono", monospace;
    margin: 0;
    padding: 0;
}

body:has(#invert:checked) {
    filter: invert(1);
    background: black;
}

label {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem
}

h1 {
    text-align: center;
    margin: 0;
}

img {
    width: 100px;
    aspect-ratio: 1;
    object-fit: contain;
}

table {
    border-collapse: collapse;
    width: 100vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    border: 2px solid black;
    padding: 0.3rem;
    text-align: center;
}

label:has(#invert:checked) + table td:nth-child(5){
    filter: invert(1); 
}

label:has(#invert:checked) + table td:nth-child(5) img{
    filter: drop-shadow(1.5px 1.5px white)
}