:root {
    font-size: 16px;
    --ui-bg: #eee;
}

body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
}

.map {
    --hex-size: 2.5rem;
    box-sizing: border-box;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    --margin: 2px;
    --pad: 15px;
    padding: calc(var(--pad) * 1.5) calc(var(--pad)/cos(30deg));
    background-color: black;
    clip-path: polygon(-50% 50%,
            50% 100%,
            150% 50%,
            50% 0);
    aspect-ratio: cos(30deg);
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* gap of 1 hexagon, that fits row above */
    gap: calc((var(--hex-size)/ cos(30deg))/2 + var(--margin)*2);
}

.row:not(:first-child) {
    margin-top: calc(var(--hex-size) / -2 + var(--margin));
}

.hex {
    /* uncoment for debug */
    color: transparent;
    font-size: 1px;
    box-sizing: border-box;
    text-align: center;
    height: var(--hex-size);
    background: darkgrey;
    transform-origin: center;
    flex-shrink: 0;
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0% 50%);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 35%;
    aspect-ratio: 1/cos(30deg);
}

.hex::before {
    content: attr(data-dist);
    display: block;
}

.controls:target {
    visibility: visible;
}

.legend,
.controls {
    visibility: hidden;
    background: var(--ui-bg);
    border-radius: 4px;
    font-family: monospace;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5em;
    box-shadow: 5px 8px 5px rgba(0,0,0,.2);
    border: 1px solid gray;
}

.legend {
    visibility: visible;
    left: unset;
    top: unset;
    right: 20px;
    bottom: 20px;
}

.bioms-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.bioms-wrapper .biom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.biom input {
    height: 1rem;
    width: 1rem;
}

.controls a {
    display: contents;
}

.legend>label,
.controls>label {
    font-weight: bold;
}

.controls :is(select, button) {
    font-size: 1rem;
}

#open-config {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border: 0;
    border-radius: 4px;
}

#open-config img {
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 1;
    padding: 5px;
    object-position: center;
}

.biom-legend {
    display: flex;
    background-color: black;
    align-items: center;
}

.biom-legend div {
    width: 100%;
    height: 20px;
    background: var(--ui-bg);
}

.biom-legend div:not(:first-child) {
    width: 60px;
    border: 3px solid white;
    box-sizing: border-box;
}


button {
    background: white;
    border: 1px solid gray;
}