/* Get the wider font TUNGSTEN IS THE CORRECT ONE*/
@font-face {
    font-family: 'Impact';
    src: url('./impact.ttf');
}

/* The most common card size for board games is 2.5 x 3.5 inches (63.5 x 88.9 mm).  */

body {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    background-color: #888;
    width: min-content;
    /* for testing on screen */
    /* scale: 1.17;
    translate: 100% */
}

img {
    height: 21rem;
    width: 15rem;
}

body>img {
    outline: 0.3125rem solid black;
    border-radius: 0.75rem;
}

.card {
    --card-color: white;
    position: relative;
    /* #222 previously */
    --cor-escura: black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    outline: 0.3125rem solid black;
    border-radius: 0.75rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center, 0rem 7.5rem, 0rem 7.5rem;
    background-size: 100% 100%, auto 100%, auto 100%;
    background-blend-mode: multiply, overlay;
    /* width: 2.5in;
    height: 3.5in; */
    /* STANDARD CARD SIZE */
    width: 63.5mm;
    height: 88.9mm;
}

body>.card:nth-child(9n) {
    break-after: page;
}

.card:nth-child(3n-1) {
    margin-right: 0.5cm;
    margin-left: 0.5cm;
}

@media print {
    .card:is(:nth-child(9n+7), :nth-child(9n+8), :nth-child(9n+9), ) {
        margin-bottom: 0;
    }
}

/* @media print { */

@page {
    margin: 0cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    size: a4 portrait;
}

body {
    max-width: 21cm;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* gap: 0.5cm; */
    justify-content: center;
    background-color: transparent;
}

body>img {
    display: none
}

.card {
    flex-shrink: 0;
    outline: none;
    /* margin-left: 0.5cm; */
    margin-bottom: 0.5cm;
    break-inside: avoid;
    box-sizing: border-box;
}

.card img {
    position: absolute;
    object-fit: cover;
    object-position: 0 1.8rem;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    pointer-events: none;
    filter: drop-shadow(14px 0.438rem 0 var(--card-color));
    /* unchanged */
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9.84rem;
    font-family: 'Roboto';
    /* border-top: 0.0625rem solid red; */
    /* opacity: 0.8; */
}


[class$="desc"] {
    display: grid;
    place-content: center;
    font-size: 2.5mm;
    line-height: 150%;
    font-weight: 300;
    letter-spacing: 0.0575rem;
    word-spacing: -0.07rem;
    text-align: center;
    translate: 0rem calc(-1 * var(--translate-down) - 0.0625rem);
    -webkit-text-stroke: 0.5px currentColor;
    /* unchanged */
}

[class$="desc"] b {
    font-weight: 500;
}

[class$="desc"] span {
    padding: 0 3mm 0mm 5mm;
}

[class$="title"] {
    width: max-content;
    padding: 0.3125rem;
    padding-bottom: 0.4375rem;
    padding-left: 0.25rem;
    text-align: center;
    translate: 0 var(--translate-down);
    z-index: 1;
    mix-blend-mode: darken
}

.power-title {
    mix-blend-mode: lighten;
}

.power-title,
.power-desc {
    color: white;
    background-color: var(--cor-escura);
}

.deploy-title,
.deploy-desc {
    color: black;
    background-color: var(--card-color);
    margin-right: 1mm;
}

.power-desc {
    height: 15mm;
    margin-left: 4mm;
    clip-path: polygon(0% 0%, 100% 0%, 100% 76%, 6% 100%);
}

.power-desc span {
    rotate: -1.5deg;
}

.deploy-desc {
    height: 17mm;
    margin-right: 1.5mm;
    clip-path: polygon(0% 20%, 100% 0%, 95% 100%, 0 90%);
    translate: 0rem calc(-1 * var(--translate-down) - 0.25rem);
}

.deploy-desc span {
    padding: 0 0.9375rem;
    padding-top: 0.625rem;
}

.power-title {
    box-sizing: border-box;
    width: 17mm;
    height: 7mm;
    text-align: center;
    margin-left: 2mm;
    transform: rotate(2deg);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3% 100%);
}

.deploy-title {
    width: 3.12rem;
    align-self: flex-end;
    transform: rotate(-2deg);
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
}

.power-title,
.deploy-title {
    font-family: "Impact";
    letter-spacing: 0.25mm;
    font-size: 4mm;
}

[data-pid="aux"] {
    letter-spacing: 0.09mm;
}

[data-pid="special"] {
    letter-spacing: 0.1mm;
}

[class^="wrapper"] {
    --translate-down: 0.3125rem;
    display: flex;
    flex-direction: column;
    translate: 0rem calc(-1 * var(--translate-down));
}

.wrapper-power {
    filter: drop-shadow(-00.06125rem 0.438rem 0 var(--card-color));
    /* unchanged */
}

.wrapper-deploy {
    --translate-down: 0.4375rem;
    filter: drop-shadow(00.06125rem 0.438rem 0px var(--cor-escura));
    /* unchanged */
    translate: 0 -1.125rem;
}

[class^="wrapper"] span {
    /* workarround to fix blurriness */
    filter: brightness(1);
}

.card-top {
    z-index: 3;
    display: grid;
    grid-template-areas:
        "TITLE X"
        "SUB X";
    grid-template-rows: auto 1fr;
    grid-template-columns: 10.75rem auto;
    margin-bottom: auto;
    margin-top: 5mm;
    filter: brightness(1);
    font-family: 'Impact';
}

.card-title,
.card-x {
    -webkit-text-stroke: 0.15mm white;
}

.card-title {
    padding: 0;
    grid-area: TITLE;
    margin-left: 5mm;
    letter-spacing: 0.1rem;
    line-height: 1;
    font-size: 8mm;
    font-weight: bold;
    -webkit-text-stroke-width: 0.01mm;
}

.card[data-cid="info"] .card-title,
.card[data-cid="sp"] .card-title {
    font-size: 6.7mm;
    line-height: 120%;
}

.card-x b {
    font-family: "Source Code Pro", monospace;
    font-weight: 900;
    -webkit-text-stroke-width: 0.1mm;
    position: absolute;
    right: 4mm;
    font-size: 4mm;
}

.card-subtitle {
    font-size: 0.8rem;
    padding: 0;
    margin-left: 3mm;
    letter-spacing: 0.02210rem;
    word-spacing: 0.01rem;
    grid-area: SUB;
    /* color: red !important */

}

.card-x {
    margin-top: 00.06125rem;
    display: flex;
    font-size: 0.8rem;
    gap: 0.4em;
    grid-area: X;
    flex-direction: column;
}

.card-x div {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    /* gap: 0.4em; */
    margin-right: 7mm;
}

.cross {
    font-family: sans-serif;
    display: inline-block;
    line-height: 50%;
    /* real-size * 2 */
    font-size: 12mm;
    rotate: 45deg;
    /* fix spacing, compensante for rotation */
    letter-spacing: -1mm;
}

:root {
    --bay-leaf: #7faa99;
    --viridian-green: #698579;
    --tara: #c8efd2;

    --wheat: #f3e0a8;
    --saffron: #f4c736;
    --champagne: #faf1cb;

    --old-rose: #c37e7d;
    --copper-rust: #a04b4e;
    --azalea: #f9d3d2;

    --cadet-blue: #b6b9c8;
    --hoki: #647c9e;
    --tropical-blue: #d5e5f8;

    --asphalt: #040102;

    /* CSS text colors */
    --stromboli: #305a44;
    --solid-pink: #762f31;
    --blue-bayoux: #4e637e;
    --old-gold: #d3a737;
}

.yellow-card {
    --card-color: var(--champagne);
    background-image: linear-gradient(100deg, var(--wheat) 50%, var(--saffron) 50%), url(./dots.svg), linear-gradient(white, var(--old-gold));
}

.yellow-card .card-subtitle {
    color: var(--old-gold)
}

.green-card {
    --card-color: var(--tara);
    background-image: linear-gradient(100deg, var(--bay-leaf) 50%, var(--viridian-green) 50%), url(./dots.svg), linear-gradient(white, var(--stromboli));
}

.green-card .card-subtitle {
    color: var(--stromboli)
}


.red-card {
    --card-color: var(--azalea);
    background-image: linear-gradient(100deg, var(--old-rose) 50%, var(--copper-rust) 50%), url(./dots.svg), linear-gradient(white, var(--solid-pink));
}

.red-card .card-subtitle {
    color: var(--solid-pink)
}

.blue-card {
    --card-color: var(--tropical-blue);
    background-image: linear-gradient(100deg, var(--cadet-blue) 50%, var(--hoki) 50%), url(./dots.svg), linear-gradient(white, var(--blue-bayoux));
}

.blue-card .card-subtitle {
    color: var(--blue-bayoux)
}

@media not print {
    body {
        padding-top: 1cm;
    }
}